body {
    margin: 0;
    overflow: hidden;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#screamer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    text-align: center;
}

#screamer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#startBtn {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}